{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": "> 0.25%, not dead"
        }
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": ["@babel/plugin-proposal-class-properties","@babel/plugin-transform-runtime","syntax-do-expressions","@babel/plugin-proposal-function-bind"]
}
